@{
    ViewBag.SiteHeader = "DSE: data and tools";
    ViewBag.Title = "Monitor your stocks";
    ViewBag.MonitorPage = "current";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Monitor your stocks</h2>
