<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="StockBDContext" connectionString="metadata=res://*/StockBDModel.csdl|res://*/StockBDModel.ssdl|res://*/StockBDModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\4Devel\CSProjs\StockBDDB\StockBD.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>