@model StockBDWeb.Models.CompanyInfo

@{
    ViewBag.Title = "Company information";
    ViewBag.SiteHeader = "DSE: data and tools";
    ViewBag.CompInfoPage = "current";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Company information</h2>
Company info goes here.