@model StockBDWeb.Models.DailyChart

@{
    ViewBag.Title = "Daily Chart";
    ViewBag.SiteHeader = "DSE: data and tools";
    ViewBag.DayChartPage = "current";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Daily Chart</h2>
@using (Html.BeginForm("Show","DailyChart",FormMethod.Post))
{
   Html.RenderPartial("_TickerAndDuration");
}
<div style="width:100%; text-align:center; min-height:100px;padding-top:150px">
    <span style="font-size:30pt;">Daily Chart</span>
</div>