@{
    ViewBag.Title = "Index";
    ViewBag.SiteHeader = "DSE: data and tools";
    ViewBag.HomePage = "current";
    Layout = "../Shared/_Layout1.cshtml";
}

<h2>Index</h2>
<p> Hello from the view template.</p>